Repository TownyAdvanced/FlagWar, pull requests merged in 2022-01, with the labels that each got.

#101 Add russian language
  src/main/resources/Translation_ru_RU.properties
Labels: i18n

#107 Fix beacon blocks being checked against when beacons are false in the config.
  src/main/java/io/github/townyadvanced/flagwar/objects/CellUnderAttack.java
Labels: bug

#108 Remove deprecated calls to TownyMessaging.sendResidentMessage.
  src/main/java/io/github/townyadvanced/flagwar/listeners/FlagWarCustomListener.java
Labels: enhancement
